@import "partials/variables";
@import "partials/reset";
@import "partials/header";
@import "partials/navigation";
@import "partials/about";
@import "partials/technology";
@import "partials/projects";
@import "partials/footer";

html {
  background: url("../img/bg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

#app {
  height: 100vh;
}

.scrollTop {
  opacity: 0.7;
  background: #000;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  &:hover {
    opacity: 1;
  }
  i {
    font-size: 15px;
    color: #fff;
  }
}

.btn__language {
  border: none;
  position: fixed;
  top: 10px;
  right: 10px;
  &:hover {
    cursor: pointer;
  }
  img {
    max-width: 50px;
  }
}

.big__font {
  font-size: 2em;
  color: $color3-hover;
}

@media (max-width: 425px) {
  nav a {
    padding: 5px 10px;
    span {
      font-size: 0.65em;
    }
  }

  .btn__language {
    img {
      max-width: 20px;
    }
  }

  #About {
    img {
      max-width: 40px;
    }
    p {
      font-size: 0.7em;
    }
    .wrapper__about {
      flex-flow: column wrap;
      align-items: center;
    }
  }

  #Technology {
    .wrapper__image {
     .technology__icon {
       padding: 0;
       margin: 0 auto;
     }
    }
  }

  #Projects {
    .wrapper__image {
      .projects__image {
        width: 250px;
        height: 250px;
      }
      .projects__title {
        font-size: 0.85em;
        top: 87%;
      }
      .projects__bar:after {
        top: 80%;
      }
    }
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .footer__form form input {
      margin: 5px;
    }
    .footer__form form textarea {
      margin: 5px;
    }
  }

}

@media (min-width: 425px) and (max-width: 450px) {
  nav a {
    padding: 5px 20px;
    span {
      font-size: 0.75em;
    }
  }

  .btn__language {
    img {
      max-width: 30px;
    }
  }

  #About {
    img {
      max-width: 50px;
    }
    p {
      font-size: 0.7em;
    }
    .wrapper__about {
      flex-flow: column wrap;
      align-items: center;
    }
  }

  #Technology {
    .wrapper__image {
      .technology__icon {
        padding: 0;
        margin: 0 auto;
      }
    }
  }

  #Projects {
    .wrapper__image {
      .projects__image {
        width: 250px;
        height: 250px;
      }
      .projects__title {
        font-size: 0.85em;
        top: 87%;
      }
      .projects__bar:after {
        top: 80%;
      }
    }
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .footer__form form input {
      margin: 5px;
    }
    .footer__form form textarea {
      margin: 5px;
    }
  }
}

@media (min-width: 450px) and (max-width: 900px) {
  .btn__language {
    img {
      max-width: 40px;
    }
  }

  nav a span {
    font-size: 1em;
  }

  #Projects {
    .wrapper__image {
      .projects__image {
        width: 300px;
        height: 300px;
      }
      .projects__title {
        top: 88%;
      }
      .projects__bar:after {
        top: 83%;
      }
    }
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .footer__form form input {
      margin: 5px;
    }
    .footer__form form textarea {
      margin: 5px;
    }
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
}
