@import "partials/variables";
@import "partials/reset";
@import "partials/header";
@import "partials/navigation";
@import "partials/about";
@import "partials/technology";
@import "partials/projects";
@import "partials/footer";

html,
body {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: $bg-color;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

#app {
  height: 100vh;
}

.scrollTop {
  opacity: 0.7;
  background: #000;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  &:hover {
    opacity: 1;
  }
  i {
    font-size: 15px;
    color: #fff;
  }
}

.btn__language {
  border: none;
  position: fixed;
  top: 10px;
  right: 10px;
  &:hover {
    cursor: pointer;
  }
  img {
    max-width: 50px;
  }
}

.big__font {
  font-size: 2em;
  color: #fd4a1f;
}

@media (max-width: 450px) {

  .btn__language {
    img {
      max-width: 30px;
    }
  }

  nav {
    flex-flow: column wrap;
  }

  #About {
    img {
      max-width: 100px;
    }
    .contact__about {
      i.fa-envelope,
      i.fa-phone-square {
        font-size: 30px;
      }
    }
  }

  #Technology {
    .wrapper__image {
      img {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }

  #Projects {
    .wrapper__image {
      .projects__image {
        width: 250px;
        height: 250px;
      }
      .projects__title {
        font-size: 0.85em;
        top: 87%;
      }
      .projects__bar:after {
        top: 80%;
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 900px) {

  .btn__language {
    img {
      max-width: 40px;
    }
  }

  #Projects {
    .wrapper__image {
      .projects__image {
        width: 300px;
        height: 300px;
      }
      .projects__title {
        top: 88%;
      }
      .projects__bar:after {
        top: 83%;
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}
