$form-margin: 0.9375em 0.625em;

footer {
  width: 100%;
  font-style: italic;
  padding: 0.3125em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: #000000bf;
  min-height: 50rem;
  color: #fff;
  overflow: hidden;
  .footer__form {
    display: flex;
    flex-flow: column wrap;
    h2 {
      margin: $form-margin;
      text-align: center;
    }
    form {
      margin: 0.3125em;
    }
    label {
      margin: $form-margin;
      font-size: 1.05em;
    }
    input,
    textarea {
      margin: $form-margin;
    }
    input[type="text"],
    input[type="mail"],
    input[type="submit"],
    textarea {
      width: 100%;
      padding: 1.25em;
      border-radius: 0.625em;
      border: none;
    }
    input[type="submit"] {
      font-size: 1.1em;
      font-weight: bold;
      border: none;
      background: $color3;
      cursor: pointer;
      color: #fff;
      &:hover {
        background: $color3-hover;
      }
    }
    textarea {
      resize: none;
    }
  }
  .contact__form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-right: 1.875em;
    span {
      font-size: 1.05em;
      text-align: center;
    }
    .contact__icons {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      li {
        padding: 0.625em;
        a:visited,
        a:link {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

.fa-facebook-f,
.fa-linkedin-in,
.fa-envelope,
.fa-github {
  color: #fff;
  @media (max-width: 450px) {
    font-size: 1.5625em;
  }
  @media (min-width: 450px) and (max-width: 900px) {
    font-size: 1.5625em;
  }
  @media (min-width: 900px) and (max-width: 1200px) {
    font-size: 2.1875em;
  }
  @media (min-width: 1200px) {
    font-size: 2.8125em;
  }
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-linkedin-in:hover {
  color: #0077b5;
}

.fa-envelope:hover {
  color: #cf5044;
}

.fa-github:hover {
  color: #000;
}
