header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5625em auto;
  width: 100%;
  max-width: 64em;
  font-size: 1.5em;
  color: $color3-hover;
  h1 {
    text-align: center;
  }
}