.wrapper__nav {
  display: flex;
}
.menu__wrapper {
  position: fixed;
  right: 0.625em;
  top: -3em;
  z-index: 4;
  i {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}
.menu__visible__curtain, .menu__hidden__curtain {
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}
.menu__visible__curtain {
  animation: menuSlideLeft .45s ease-in;
  opacity: 1;
  z-index: 3;
}
.menu__hidden__curtain {
  animation: menuSlideRight .25s ease-in;
  opacity: 0;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  a {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 0.3125em;
    padding: 0.625em 3.125em;
    span {
      font-weight: bolder;
      color: #fff;
    }
  }
  a:visited,
  a:link {
    text-decoration: none;
  }
  a:hover {
    color: $color1-hover;
    cursor: pointer;
  }
}

.fa-window-close,
.fa-bars {
  margin: 1.5625em 0;
}

.fa-bars {
  color: $color2;
}

.fa-bars:hover {
  color: $color2-hover;
  cursor: grab;
}

.fa-window-close {
  color: $color1;
}

.fa-window-close:hover {
  color: $color1-hover;
  cursor: grab;
}

.fa-window-close,
.fa-bars {
  @media (max-width: 450px) {
    font-size: 1.25em;
  }
  @media (min-width: 450px) and (max-width: 900px) {
    font-size: 1.25em;
  }
  @media (min-width: 900px) and (max-width: 1200px) {
    font-size: 1.875em;
  }
  @media (min-width: 1200px) {
    font-size: 2em;
  }
}

@keyframes menuSlideLeft {
  from {
    opacity: 0;
    transform: translateX(-120%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes menuSlideRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-120%);
  }
}
